@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?lahv2z');
    src:  url('../fonts/icomoon.eot?lahv2z#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?lahv2z') format('truetype'),
      url('../fonts/icomoon.woff?lahv2z') format('woff'),
      url('../fonts/icomoon.svg?lahv2z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }